body {
    font-family: "Roboto Condensed", sans-serif;
}

#navbar1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

#navbar1 li {
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid gray;
}

#navbar1 li:first-child {
    border-left: none;
}

#searchField {
    width: 130px;
}

#navbar2-container {
    border-top: 1px solid silver;
    margin-top: 5px;
}