body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
}

.page-header {
  margin-bottom: 20px;
}

.page-main {
  background-color: white;
  padding: 15px 25px;
}

#navbar1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 100%;
}

.top-footer .social-media li,
.middle-footer .middle-footer-list li,
.bottom-footer .bottom-footer-list li {
  display: inline;
  padding: 0 12px;
  color: #5e5959;
  font-size: 12px;
}

.middle-footer .bottom-footer-list li,
.bottom-footer .bottom-footer-list li {
  text-align: center;
  border-right: 1px solid gray;
}

.bottom-footer .bottom-footer-list li:first-child {
  margin-left: 0;
}

#navbar1 li {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid silver;
}

#navbar1 li:first-child {
  border-left: none;
}

#navbar2-container {
  padding-top: 0;
  padding-bottom: 0;
}

.more-story-article a,
.featured-story-card .story-title a,
.featured-ads-card .story-title a,
.top-story-card .story-title a {
  color: inherit;
}

.story-image-holder .story-category a {
  color: #f72210;
  text-transform: uppercase;
  font-weight: 700;
}

.story-ads-holder .ads-category a {
  color: #3581f4;
  text-transform: uppercase;
  font-weight: 700;
}

.my-turn-image-holder .culture-category a {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

#navbar3-container a {
  color: white;
  font-size: 20px;
}

#navbar1 li a {
  color: black;
}

#navbar2 li:first-child a {
  color: black;
  font-weight: 700;
}

#searchField {
  width: 130px;
}

.header-container {
  background-color: white;
  border-bottom-color: #f4f5f6;
}

.navbar-header {
  display: flex;
  position: relative;
  z-index: 2;
  height: 95px;
  padding: 20px 10px 15px;
  background-color: #f72210;
  color: floralwhite;
}

.location-weather-info .weather-information,
.location-weather-info .date-and-time-information {
  font-size: 14px;
  font-weight: 500;
}

.newsweek-main-logo h2 {
  font-size: 50px;
}

.newsweek-main-logo svg {
  width: 396px;
  height: 60px;

  /* margin: 10px auto 0; */
  fill: white;
}

.subscribe-login {
  position: relative;
}

.action-buttons-holder {
  position: absolute;
  top: 40%;
}

.login-button {
  background-color: #f72310;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 10px;
  line-height: 15px;
  border-radius: 24px;
  border: 0 none;
}

.menu-button {
  background-color: #f72310;
  color: black;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  padding: 7px 10px;
  line-height: 15px;
  border: 0 none;
}

.subscription-button {
  background-color: #ffe400;
  color: black;
  font-weight: 600;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  padding: 7px 10px;
  line-height: 15px;
  border: 0 none;
}

.story-image-holder {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
}

.featured-ads-card {
  margin-bottom: 20px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.story-ads-holder {
  position: relative;
  min-height: 33px;
}

.featured-story-image {
  width: 100%;
  height: auto;
}

.story-image-holder .story-category,
.story-ads-holder .ads-category {
  display: block;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.my-turn-image-holder .culture-category {
  display: block;
  padding: 3px 7px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.featured-ads-card .ads-description {
  padding: 20px;
  border: 1px solid silver;
  border-top: none;
}

.story-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: black;
}

.story-title-mini {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: rgb(61, 59, 59);
}

.story-title:hover {
  color: #f72210;
}

.story-details {
  margin: 0;
  padding-top: 4px;
  font-size: 15px;
  line-height: 20px;
}

.block-title {
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  padding-bottom: 11px;
  font-weight: 600;
}

.my-turn-holder {
  margin-bottom: 10px;
}

.my-turn-picture {
  height: 130px;
  width: 100%;
}

.my-turn-image-holder {
  position: relative;
  min-height: 33px;
  margin-bottom: 10px;
}

.article-image-container {
  margin-bottom: 10px;
  float: left;
  width: 95px;
  margin-right: 15px;
}

.article-image {
  width: 95px;
  height: 95px;
}

.article-image-title {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
  position: relative;
  color: black;
  font-weight: 600;
}

.more-story-summary {
  font-size: 15px;
  line-height: 20px;
}

.more-story-article {
  margin: 10px 20px;
}

.opinion {
  border-bottom: 1px solid silver;
}

#opinion1 {
  border-bottom: 1px solid silver;
  margin-bottom: 2px;
}

#opinion2 {
  border-top: 1px solid silver;
  margin-top: 2px;
}

.opinion-section {
  margin-bottom: 20px;
}

.opinion-container,
.side-news-container {
  display: flex;
  padding: 10px 15px;
}

.opinion-image {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  margin-right: 15px;
}

.opinion-desc {
  width: 90%;
}

.opinion-desc .opinion-text {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.opinion-desc-author {
  margin-right: 15px;
}

.debate {
  padding: 0 20px;
  border-top: 3px solid silver;
  border-bottom: 3px solid silver;
  position: relative;
  margin-bottom: 20px;
}

.author {
  font-size: 12px;
  font-weight: 600;
  color: #5d6062;
}

.editors-pick-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.bottom-section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: red;
  border-bottom: 1px solid silver;
}

.editors-pick-title img {
  display: inline-block;
  width: 29px;
  height: 28px;
  margin-right: 5px;
}

.editors-pick-title h5 {
  display: inline-block;
}

.editors-pick-category {
  margin: 5px 0;
}

.editors-pick-category .first-category {
  padding: 2px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.editors-pick-category .second-category {
  padding: 2px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.bottom-section-news {
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.bottom-section-news .story-title {
  font-size: 18px;
}

.side-news-container .news-image img {
  width: 80px;
  height: auto;
  margin-right: 15px;
}

footer {
  background-color: white;
}

.top-footer .logo-holder {
  color: red;
  margin-bottom: 0;
  font-weight: 600;
}

.top-footer .copyright {
  margin-bottom: 0;
  font-size: 12px;
}

.top-footer .social-media {
  float: right;
}

.bottom-footer-list {
  display: flex;
  flex-wrap: wrap;
}

.middle-footer .middle-footer-list,
.bottom-footer .bottom-footer-list {
  padding-left: 0;
  display: flex;
}

.scroll-header {
  background-color: #f72210;
}

.menu-person-logo {
  margin-right: 5px;
}

.debate .vs-logo-debate {
  padding: 6px;
  border-radius: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 36%;
  right: 50%;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 564px) {
  .side-news-container .news-image img {
    width: 150px;
    height: auto;
    margin-right: 15px;
  }
}
